.dataTables_filter{
    margin-left: 450px;
}
.dataTables_paginate{
    margin-left: 345px;
}

.button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
}

.button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #707070;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
}

.upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

